@import '../variables';
.button{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  color: white;
  text-transform: uppercase;
  border: 2px solid $blue;
  border-radius: 2px;
  padding: 0 45px;
  display: block;
  width: fit-content;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 1000px;
    top: 50%;
    left: 50%;
    background-color: $blue;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all .2s linear 0s;
  }
  &:hover::after{
    width: 100%;
    opacity: 1;
  }
}


